<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="service" class="com.mimi.xml.XmlService">
        <property name="xmlDao" ref="dao"></property>
    </bean>

    <bean id="dao" class="com.mimi.xml.XmlDao"/>


    <bean id="thingOne" class="com.mimi.xml.ThingOne">

    </bean>
    <bean id="thingTwo" class="com.mimi.xml.ThingTwo">

    </bean>
    <bean id="thingThree" class="com.mimi.xml.ThingThree">

        <constructor-arg index="0" ref="thingOne"/>
        <constructor-arg index="1" ref="thingTwo"/>
    </bean>

</beans>